.myacc__container{
    max-width: 1310px;
}
.row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}
.col{
    flex: 0 0 75%;
    max-width: 75%;
}
.myacc__single{
margin-bottom: 20px;
border: 1px solid #ebebeb;
}
.body {
    background-color: #fff;
  }
  .header {
    height: 79px;
    line-height: normal;
    padding: 10px 0 15px 0;
    background: #ffffff;
    display: flex;
    width: 100%;
  }
  .header__logo {
    margin-top: 10px;
    height: 34px;
    padding: 0 20px;
  }
  .header__main {
    display: flex;
    align-items: center;
    margin-left: 80px;
  }
  .header__main--1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .header__main a {
    display: block;
    padding: 10px 15px;
    color: #253237;
    font-weight: 700;
    position: relative;
  }
  .header__main--1 a {
    display: block;
    padding: 10px 15px;
    color: #253237;
    font-weight: 700;
    position: relative;
    height: auto;
  }
  .header__main a:hover {
    color: #4fb68d;
  }
  .header__main--1 a:hover {
    color: #4fb68d;
  }
  .header__account {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding-top: 5%;
  }
  .contact__link {
    float: left;
    position: relative;
    margin-top: 5px;
  }
  .cart__info {
    margin-top: 10px;
    margin-left: 20px;
  }
  .cart__a {
    display: inline-block;
    font-size: 26px;
    font-family: "Ionicons";
    vertical-align: middle;
    margin-right: 15px;
    font-weight: 400;
  }
  .toggle-menu {
    display: none;
    font-size: 2rem;
    color: #fff;
    margin: 10px 10px 0 0;
    transition: 0.2s;
  }
  .search__item {
    overflow: hidden;
    width: 300px;
    height: 47px;
    position: relative;
    border-radius: 30px 30px 30px 30px;
    border: none;
  }
  .search__item input {
    height: 47px;
    background: #fff;
    color: #b1b1b1;
    padding: 10px 120px 10px 20px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    border-radius: 30px;
    outline: none;
    border: 1px solid black;
  }
  .submit__button {
    /* box-sizing: border-box; */
    right: 0;
    z-index: 2;
    outline: none;
    position: absolute;
    top: 0;
  }
  .submit__button button {
    background: black;
    border: 0;
    box-shadow: none;
    padding: 0 20px;
    height: 47px;
    border-radius: 0 30px 30px 0;
    transition: all 300ms linear;
    width: 90px;
    color: #fff;
    cursor: pointer;
  }
  .submit__button button:hover {
    background-color: #214770;
  }
  .breadcrumb__links {
    display: flex;
  }
  .breadcrumb__links li {
    display: inline;
    font-size: 15px;
    padding-right: 10px;
  }
  .breadcrumb__links li a {
    font-size: 15px;
    padding-left: 20px;
    color: black;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
  .container__col1 {
    height: 600px;
    width: 50%;
    background-color: white;
    float: left;
  }
  .container__col2 {
    height: 600px;
    width: 50%;
    background-color: white;
    float: right;
  }
  * {
    box-sizing: border-box;
  }
  
  .img-zoom-container {
    position: relative;
    display: flex;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 40px;
    height: 40px;
  }
  
  .img-zoom-result {
    float: left;
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 150px;
    height: 150px;
    align-items: center;
    z-index: 5;
  }
  .list__img {
    height: 100px;
    width: 100%;
    display: inline-block;
  }
  /* >>> hoặc /deep/ ::v-deep đi vào thành phần con, tạo kích thước cho lens */
  ::v-deep .img__zoom__lens {
    width: 50px;
    height: 50px;
    border: 1px solid #cccccc;
    position: absolute;
  }
  .list__img img {
    height: 100px;
    width: 106px;
    border: 1px solid#4fb68d;
    margin-left: 10px;
  }
  .reference {
    font-weight: 700;
    font-size: 14px;
    color: #253237;
  }
  .reference span {
    font-weight: 400;
  }
  .product__rate__wrap {
    display: flex;
    margin: 10px 0 0;
  }
  .rating__product {
    margin-right: 20px;
    margin-bottom: 6px;
  }
  .rating__product i {
    overflow: hidden;
    font-size: 18px;
    color: #fdd835;
  }
  .review {
    text-decoration: none;
    color: #253237;
    position: relative;
    margin-right: 8px;
    line-height: 21px;
    padding: 0;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .pricing__meta {
    height: 64px;
    width: auto;
  }
  .pricing__meta ul {
    margin: 0;
    padding: 0;
  }
  .pricing__meta ul li {
    display: inline-block;
    font-weight: 900;
    font-size: 30px;
  }
  .product__detail {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid#ebebeb;
  }
  .product__detail ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .product__quantity {
    display: inline-flex;
    width: 100%;
  }
  .cart__plus__minus {
    border: 1px solid #e8e8e8;
    display: inline-block;
    height: 48px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 60px;
  }
  
  .product__addcart a {
    position: relative;
    padding: 0 55px;
    line-height: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    box-shadow: none;
    text-transform: uppercase;
    background: #4fb68d;
    display: block;
    color: #fff;
  
    margin-left: 10px;
  }
  .product__addcart a:hover {
    background: #253237;
    color: #fff;
  }
  .product__social__info {
    display: flex;
    border-bottom: 1px solid#ebebeb;
    margin-top: 10px;
    padding-bottom: 12px;
  }
  .product__social__info span {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
    font-weight: 700;
    color: #253237;
    font-size: 14px;
  }
  .social__info {
    margin-top: 2px;
  }
  .social__info ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .social__info ul li {
    display: inline-block;
  }
  .social__info ul li a {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    color: #b4b4b4;
    margin-right: 0;
    white-space: normal;
    text-indent: 0;
    overflow: hidden;
    padding: 0;
    font-size: 20px;
    width: 30px;
  }
  .product__policy {
    margin: 25px 0 0;
  }
  .product__policy ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  .product__policy ul li {
    margin-bottom: 20px;
    align-items: center;
    font-size: 15px;
  }
  .product__policy ul li img {
    margin-right: 15px;
    height: 32px;
    width: 38px;
  }
  .product__policy ul li span {
    box-sizing: border-box;
    display: inline-block;
  }
  
  .description__review {
    margin-top: 180px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
  .description__review__topbar {
    border-bottom: none;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: -6px;
    margin-bottom: 20px;
  }
  .description__review__topbar a {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    line-height: 24px;
    color: #888;
    padding: 0 0 15px 0;
    margin: 0 30px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }
  .description__review__topbar a:hover {
    color: #253237;
  }
  
  .description__review__bottom {
    overflow: hidden;
    font-size: 15px;
    background: #fff;
    line-height: 24px;
    text-align: left;
    padding: 40px 30px 30px 30px;
    border: 1px solid #ebebeb;
  }
  .product__anotherinfo__wrapper {
    display: block;
  }
  .product__anotherinfo__wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .product__anotherinfo__wrapper ul li {
    color: #888;
    font-size: 14px;
    list-style: outside none none;
    margin: 0 0 13px;
  }
  .best__sells {
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  }
  .section__title {
    margin-bottom: 20px;
    margin-top: 50px;
    box-sizing: border-box;
    height: 60px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .section__title h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #253237;
    text-transform: capitalize;
    line-height: 16px;
    font-weight: 600;
    margin: 0 0 15px;
  }
  .section__title p {
    color: #888;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    margin-top: 10px;
  }
  .section__button span {
    color: rgb(8, 1, 1);
    font-size: 60px;
    opacity: 0.6;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
  }
  .section__button #btn-pre {
    position: absolute;
    left: 95%;
    z-index: 10;
    font-size: 14px;
    line-height: 32px;
    display: block;
    font-family: "Ionicons";
    font-weight: 600;
    transform: scale(1);
    transition: all ease-in-out 500ms;
  }
  .section__button #btn-pre:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .section__button #btn-nex {
    position: absolute;
    right: 0%;
    z-index: 10;
    font-size: 14px;
    line-height: 32px;
    display: block;
    font-family: "Ionicons";
    font-weight: 600;
    transform: scale(1);
    transition: all ease-in-out 500ms;
  }
  .section__button #btn-nex:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .best__sells__container {
    display: flex;
  }
  .best__sells #product {
    position: relative;
    background: white;
    z-index: 1;
    border: 1px solid #cccccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    width: 222.666px;
    margin-right: 15px;
    height: 380px;
    margin-left: 15px;
  }
  .best__sells #product img {
    position: relative;
    overflow: hidden;
  }
  .best__sells #product #description {
    padding: 20px 15px 16px 15px;
    background: #fff;
    overflow: hidden;
  }
  .inner__link {
  
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
  }
  .product__link {
    color: black;
  }
  .a {
    text-decoration: none;
    transition: 0.3s;
    font-size: 2;
    color: #000;
  }
  .router-link {
    color: #000;
  }
  /* .h3{
        color: #253237;
      } */
  .rating__product {
    margin-bottom: 6px;
    color: #ecc823;
  }
  .rating__product i {
    overflow: hidden;
    font-size: 18px;
    color: #f1c80f;
  }
  .pricing__meta {
    box-sizing: border-box;
    display: flex;
  }
  
  .old__price {
    color: #9b9b9b;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 2px;
    font-size: 14px;
    align-items: center;
    margin-left: 10px;
  }
  .discount__price {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background: #cf292b;
    padding: 0 4px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    z-index: 4;
    margin-left: 2px;
    align-items: center;
    margin-left: 10px;
  }
  .current__price {
    color: #cf2929;
    align-items: center;
    margin-left: 10px;
  }
  .new__icon {
    color: #fcfcfc;
    margin-left: 6px;
  }
  .icon {
    background-color: #0090f0;
    height: 20px;
    width: 40px;
    border-radius: 10%;
    margin-left: 10px;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 5%;
  }
  .best__sells #product:hover {
    border-color: #007bff;
  }
  .cart__button {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background: #ffffff;
    padding: 0 4px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    height: 30px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 5px;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(142, 235, 196);
  }
  #cart__button__icon {
    align-items: center;
    margin-top: 5px;
    font-size: 20px;
  }
  .cart__button:hover {
    background-color: rgb(2, 2, 2);
  }
  #description a:hover{
    color: #007bff;
    }
  #myimage {
    height: 600px;
  }
  .add__to__link {
    position: absolute;
    /* left: 15px; */
    right: 15px;
    bottom: 10px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px) translateZ(0);
    -webkit-transform: translateY(25px) translateZ(0);
    perspective: 800px;
    -webkit-perspective: 800px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease,
      transform 0.3s ease;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease,
      -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease,
      -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease,
      -webkit-transform 0.3s ease;
    z-index: 9999;
  }
  .list__product:hover .add__to__link {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }
  .best__sells #product:hover .add__to__link {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }